*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.intro{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.486)),url("../images/intro4.jpg.crdownload");
    height:90vh;
    background-size: cover;
    background-position: center;
    text-transform: uppercase;
    text-align: center;
    padding-top: 200px;
    font-size: 30px;
    color: yellowgreen;
    font-weight: bold;
}
h1{
    margin: 0;
    margin-bottom: 20px;
    color: white;
    font-size: 240%;
    word-spacing: 4px;
    font-style: italic;
}
.into p{

}
#containerBuild{
    background-color:yellowgreen
}

/* special card section starts */

.special{
    background-color: black;
    height:fit-content
}
.cartRef{
    text-decoration: none;
}
.card-container{
    width: 95%;
    margin:7rem auto;
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    height:30rem;
    width: 20rem;
    background: white;
    padding: 1rem;
    margin: 2rem;
    text-align: center;
}
.card-img{
    height:38%;
    width:100%;
    object-fit: cover;
}
.cartRef button{
    font-size: 1.2rem;
    background: #333;
    color: #fff;
    outline: none;
    border:none;
    font-weight:bold;
    text-transform: capitalize;
    cursor:pointer;
    height:50px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cartRef button:hover{
    opacity: .8
}
.card:hover{
    transform: scale(1.1);
    transition-duration: 250ms;
}
.price{
    font-weight: bolder;
    font-size: 160%;
    margin-bottom: 10px;
}
.card-par{
    font-size: 15px;
}

/* special card section ends */

#containerBuild h2{
    text-align: center;
}
.step1 ul{
    text-align: center;
    list-style-type: none;
    align-items: center;
}
[type="checkbox"] {
    font-weight: bold;
   
}
/* .custom-checkbox{
    --size: .75em;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    margin-right: var(--size);;
    cursor:pointer;
    border: 2px solid currentColor;
    border-radius: 50%;
    transform:scale(1)
} */