*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}


/* introduction starts*/
.intro{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.486)),url("../images/intro4.jpg.crdownload");
    height:90vh;
    background-size: cover;
    background-position: center;
    text-transform: uppercase;
    text-align: center;
    padding-top: 250px;
    font-size: 28px;
    color: yellowgreen;
    font-weight: bold;
}
.intro h1{
    margin: 0;
    margin-bottom: 20px;
    color: white;
    font-size: 240%;
    word-spacing: 4px;
    font-style: italic;
}
.aboutUs{
    margin-bottom: 70px;
}
/* introduction ends*/

/* About us starts */
#container2 h2{
    text-transform: uppercase;
    text-align: center;
    color:limegreen;
    font-weight: bolder;
    margin-top: 40px;
    margin-bottom: 25px;
}
#container2 p{
    text-align: center;
}
#par1{
    font-size: 28px;
    text-transform:uppercase;
}
#par2{
    font-size:20px;
}
/* About us ends */

/* special card section starts */
.special{
    background-color: black;
    height:fit-content;
}
#title2{
    text-transform: uppercase;
    text-align: center;
    color:limegreen;
    font-weight: bolder;
}
.cartRef{
    text-decoration: none;
}
.card-container{
    width: 95%;
    margin:7rem auto;
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    height:30rem;
    width: 20rem;
    background: white;
    padding: 1rem;
    margin: 2rem;
    text-align: center;
}
.card-img{
    height:38%;
    width:100%;
    object-fit: cover;
}
.cartRef button{
    font-size: 1.2rem;
    background: #333;
    color: #fff;
    outline: none;
    border:none;
    font-weight:bold;
    text-transform: capitalize;
    cursor:pointer;
    height:50px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cartRef button:hover{
    background-color: yellowgreen;
    color:black;
}
.card:hover{
    transform: scale(1.1);
    transition-duration: 250ms;
}
.price{
    font-weight: bolder;
    font-size: 160%;
    margin-bottom: 10px;
}
.card-par{
    font-size: 15px;
}
/* special card section ends */

/* Build your pizza start */
#containerBuild{
    background-color: yellowgreen;
    margin-bottom: 30px;
    padding-bottom: 40px;
    border:3px solid black;
    font-size: 20px;
}
#containerBuild h2{
    text-align: center;
    font-size: 26px;
}
.step1 ul{
    text-align: center;
    list-style-type: none;
    align-items: center;
    font-weight: bold;
    font-size: 21px;
}
h2#title3{
    color:white;
    text-align: center;
    padding-top:45px;
    padding-bottom: 30px;
    font-size: 35px;
}
.step4 h4{
    color: darkgreen;
    margin-top:15px;
}
.step2,
.step3{
    padding-left: 40px;
}

/* Build your pizza ends */